<?xml version='1.0' encoding='UTF-8'?>
{% set script %}
{% include 'container-networking-ansible.groovy' %}
{% endset %}
<flow-definition plugin="workflow-job@1.11">
  <actions/>
  <description>Workflow for container-networking-ansible</description>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.11">
    <script>
      {{ script | e }}
    </script>
  </definition>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.14.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>    
  </triggers>
</flow-definition>
